<h1>Add a Blogger</h1>
<form class="form" action="/bloggers" method="post">
  <input type="text" name="first_name" placeholder="First Name">
  <input type="text" name="last_name" placeholder="Last Name">
  <input type="text" name="username" placeholder="Username">
  <input type="number" name="age" placeholder="Age"><br>
  <input type="submit" value="Submit">
</form>
